.photos {
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
}

.photos h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slideImage {
  width: 100%;
  flex: 0 0 100%;
  border-radius: 15px; /* Rounded corners */
  object-fit: cover; /* Ensures the image covers the square area */
  aspect-ratio: 1 / 1; /* Makes the images square */
  margin: 0 0.5rem; /* Adds spacing between images */
}